[Unit]
Description=每天北京时间二十三点五十分清理 Waydroid

[Timer]
OnCalendar=*-*-* 23:50:00 Asia/Shanghai
Persistent=true
Unit=waydroid-container-daily-reset.service

[Install]
WantedBy=timers.target
